#orderinfo {
	width:100%;
	height:auto;
	font-size:12px;
	font-family:"Microsoft YaHei"!important
}
.ahead {
	font-weight:bold;
	padding-top:5px;
	padding-bottom:5px;
	margin-left:20px
}
.ainfo {
	line-height:25px;
	margin-left:70px
}
.atitle {
	color:#999;
	padding-top:3px;
	padding-bottom:3px
}
.alable {
	color:#333
}
.tapbox {
	width:auto;
	height:50px;
	background-color:#efeeed;
	position:relative
}
.tapbox a {
	display:block;
	float:left;
	height:50px;
	padding-left:30px;
	padding-right:30px;
	line-height:50px;
	font-size:14px;
	cursor:pointer
}
.tapbox a.active {
	background-color:#fafafa;
	font-weight:bold
}
.tab-content-box {
	width:auto;
	height:auto;
	min-height:300px
}
#orderRemark {
	width:500px;
	height:100px;
	border:1px solid #999;
	padding:5px
}
.lineinfo {
	width:auto;
	min-height:500px;
*height:500px;
	position:relative
}
.shuline {
	position:absolute;
	width:1px;
	height:100%;
	border-left:1px dotted #CCC;
	left:50px;
	top:0
}
.lineinfo-item {
	width:auto;
	height:auto;
	padding-top:5px;
	padding-bottom:5px;
	position:relative
}
.quan {
	width:10px;
	height:10px;
	border-radius:10px;
	position:absolute;
	left:45px;
	top:10px;
	background-color:#F90
}
.kdinfo {
	margin-left:70px;
	border-bottom:1px solid #e8e8e8
}
.kdtime {
	color:#999;
	padding-top:10px;
	padding-bottom:10px
}
.quanindex {
	width:20px;
	height:20px;
	left:43px;
	background-color:transparent
}
#baseinfo {
	margin-bottom:20px
}
#printorder {
	display:block;
	width:70px;
	height:49px;
	cursor:pointer;
	position:absolute;
	background-color:#F36;
	right:10px;
	top:0;
	text-align:center;
	color:#FFF
}
#printpreview {
	display:block;
	width:80px;
	height:49px;
	cursor:pointer;
	position:absolute;
	background-color:#CCC;
	right:0;
	top:0;
	text-align:center;
	color:#FFF
}
#cusfee {
	position:absolute;
	width:190px;
	right:150px;
	top:0;
	height:auto
}
#printorder:hover {
	background-color:#C30
}
#printpreview:hover {
	background-color:#999
}
#cusfee input {
	display:block;
	width:100%;
	height:45px;
	border:0;
	padding-left:10px;
	overflow:hidden;
	font-size:14px
}
#cusfee input.inputfocus {
	font-size:16px;
	font-weight:bold;
	color:#F00
}
#cusfee input:focus {
	font-size:16px;
	font-weight:bold;
	color:#F00
}
.flow-step {
	overflow:hidden;
	zoom:1;
	padding:15px 0
}
.flow-step li {
	float:left;
	text-align:center;
	width:15%
}
.flow-step .step-no {
	height:34px;
	line-height:34px;
	font-family:'arial black';
	color:#fff;
	font-size:18px;
	background:url(../images/lc.png) no-repeat 50% -102px
}
.flow-step .step-first .step-done .step-no {
	background-position:50% -204px
}
.flow-step .step-done .step-no {
	background-position:50% -170px
}
.flow-step .step-cur .step-no {
	background-position:50% 0
}
.flow-step .step-last .step-no {
	background-position:50% -136px
}
.flow-step .step-last .step-cur .step-no {
	background-position:50% -68px
}
.flow-step .step-last .step-done .step-no {
	background-position:50% -238px
}
.flow-step .step-name {
	padding:3px 0;
	font-weight:700;
	color:#888
}
.flow-step .step-time {
	color:#999;
	margin-top:10px
}
